@import "../../../styles.scss";
ul {
    list-style: none;
    display: inline-grid;
    grid-template-rows: minmax(40px, auto);
    grid-template-columns: $grid-col-one $grid-col-two $grid-col-three $grid-col-four;
    margin: 0px;
    padding: 0px;
    & li {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $input-color;
        font-size: 13px;
        & p {
            margin: 0px;
        }
        > span:first-child{
            display: block;
            min-width: 48px;
        }
        span:nth-child(2) {
            margin: 0px 10px;
        }
    }
    li:first-child{
        flex-direction: column;
        justify-content: center;
        align-items: initial;
    }
}
ul.selected{
    background: rgba(111, 102, 59, .5);
}