@import "../../../styles.scss";
form {
    display: flex;
    flex-direction: column;
}
.input_group_default {
    border: 1px solid $input-border-color;
    height: 50px;
    padding: 9px 5px;
    position: relative;
    label{
        color: $input-color;
    }
    input, select {
        display: inherit;
        position: absolute;
        top: 0px;
        left:0px;
        background: transparent;
        border: none;
        height: 100%;
        width: 100%;
        padding-top: 14px;
        z-index: 1;
        outline: none;
    }
}

.input_group_focus {
    height: 50px;
    position: relative;
    label {
        font-size: 0.8em;
        letter-spacing: .1em;
        position: absolute;
        color: $input-color;
        top:2px;
        left:3px;
    }
    input, select {
        display: inherit;
        position: absolute;
        top: 0px;
        left:0px;
        background: transparent;
        height: 100%;
        width: 100%;
        padding-top: 14px;
        z-index: 1;
        border: 1px solid $input-border-color;
        color: $input-placeholder-color;
    }
    input:focus, select:focus {
        border: 2px solid #5cd49c;
        outline: none;
        color: $input-placeholder-color !important;
    }
}
input::placeholder, select::placeholder {
    color: $input-placeholder-color;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input.ng-valid.ng-dirty.ng-touched {
    color: $input-placeholder-color !important;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border-radius: 0px;
}
.radio_input {
    height: 50px;
    border: 1px solid $input-border-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px;
    label {
        font-size: 0.8em;
        letter-spacing: .1em;
        color: $input-color;
    }
    span {
        display: flex;
        justify-content: space-between;
        & label {
            font-size: initial;
            letter-spacing: initial;
            display: inherit;
            & span {
                display: initial;
                margin-left: 5px;
            }
        }
    }   
}

.form_controls {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    p {
        margin: 5px;
        text-align: center;
        color: $input-color;
    }
}