@import "../../styles.scss";
.table_container {
    margin-top: 20px;
}
ul {
    list-style: none;
    display: inline-grid;
    grid-template-rows: auto;
    grid-template-columns: $grid-col-one $grid-col-two $grid-col-three $grid-col-four;
    border: 1px solid $input-border-color;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    color: $input-color;
    & li {
        border: 1px solid $input-border-color;
        padding: 5px;
        display: flex;
        align-items: center;
        & p {
            margin: 0px;
        }
        span:nth-child(2) {
            margin: 0px 10px;
        }
    }
    li:first-child{
        flex-direction: column;
        align-items: initial;
    }
}
.list_container{
    border: 1px solid $input-border-color;
    display: inline-block;
}
.list:nth-child(odd) {
    display: inherit;
    background: #1d1d1d;
}
button {
    float: right;
    margin: 5px -2px 0px 0px;
}