p {
    color: white;
}
.slide {
    background: lightblue;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -11px;
}
.slide_container {
    width: 300px;
    height: 10px;
    background: slategray;
    position: relative;
}
.curent_value {
    font-size: 20px;
    color: cornflowerblue;
}