<div class="creator_container">
  <form ng-form #itemForm class="form">
    <input type="text" placeholder="Item" [(ngModel)]="item" name="anything">
    <input type="number" step=".01" placeholder="How much is it" [(ngModel)]="number" name="anything">
    <input type="date" placeholder="When do you want it" [(ngModel)]="wantByDate" name="anything">
    <div>
      <button (click)="itemForm.reset()">Create and Generate Schedule</button>
      <button (click)="itemForm.reset()">Add Details</button>
    </div>
  </form>
  <div>
    <p>item {{item}}</p>
    <p>how much {{number}}</p>
    <p>wantByDate {{wantByDate | date}}</p>
  </div>
</div>
